body{
  font-family: helvetica;
  margin: 0;
}

.mainContainer{
  display: flex;
  @media only screen and (max-width: 500px) {
    display: flex;
    flex-direction: column;
  }
}

.recipesContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1189px;
  @media only screen and (max-width: 500px) {
    width: 100%;
  }
};

.searchInput{
  width: 50%;
  padding: 10px;
  font-size: 12px;
  margin-bottom: 20px;
  margin-left: 10px;
  @media only screen and (max-width: 500px) {
    width: 90%;
  }
}

.recipeHeading{
  margin-left: 10px;
  @media only screen and (max-width: 500px) {
    text-align: center;
  }
}
